@import "./variables.scss";

/*
    text-transform
    text-decoration
    outline
    border
    эдгээр property-ийг судлаарай
*/

.btn,
.input {
  border-radius: 100px;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
}

.btn {
  text-transform: uppercase;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

.input {
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  padding-left: 15px;
}
