@charset "UTF-8";
/*
    text-transform
    text-decoration
    outline
    border
    эдгээр property-ийг судлаарай
*/
.btn {
  border-radius: 100px;
}

.input {
  border-radius: 100px;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-between {
  align-items: space-between;
}

.items-around {
  align-items: space-around;
}

.items-evenly {
  align-items: space-evenly;
}

.flex-auto {
  flex: auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

/* 
    UBUNTU FONT-ийг доорх байдлаар тохируулсан байгаа
    LOBSTER font -ийн татах хэмжээг сонгоно "Select this style"
    Үүний дараа "EMBED" хэсэг байрлах "https://fonts.googleapis.com/css2?family={font}" link доторх css -ийг хуулж тавина

*/
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKcg72nU6AF7xm.woff2)
      format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKew72nU6AF7xm.woff2)
      format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKcw72nU6AF7xm.woff2)
      format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfA72nU6AF7xm.woff2)
      format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKcQ72nU6AF7xm.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw72nU6AFw.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"),
    url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjvWyNPYZvg7UI.woff2)
      format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"),
    url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjtGyNPYZvg7UI.woff2)
      format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"),
    url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjvGyNPYZvg7UI.woff2)
      format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"),
    url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjs2yNPYZvg7UI.woff2)
      format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"),
    url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjvmyNPYZvg7UI.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"),
    url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjsGyNPYZvgw.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
.font-lobster {
  font-family: Lobster;
}

.font-ubuntu {
  font-family: Ubuntu;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

/* 
    sass ашиглан 12 -оос 80 -ийн хооронд давтан
    font-size, line-height -ийг зааж өгөх боломжтой class-ууд үүсгэ
    Жишээ нь:
        className='fs-16 lh-20'
*/
.c-primary {
  color: #02b589;
}

.b-primary {
  background-color: #02b589;
}

.br-primary-1 {
  border: solid #02b589 1px;
}

.br-primary-2 {
  border: solid #02b589 2px;
}

.br-primary-3 {
  border: solid #02b589 3px;
}

.br-primary-4 {
  border: solid #02b589 4px;
}

.br-primary-5 {
  border: solid #02b589 5px;
}

.br-primary-6 {
  border: solid #02b589 6px;
}

.br-primary-7 {
  border: solid #02b589 7px;
}

.br-primary-8 {
  border: solid #02b589 8px;
}

.br-primary-9 {
  border: solid #02b589 9px;
}

.br-primary-10 {
  border: solid #02b589 10px;
}

.c-secondary {
  color: #f0f0f0;
}

.b-secondary {
  background-color: #f0f0f0;
}

.br-secondary-1 {
  border: solid #f0f0f0 1px;
}

.br-secondary-2 {
  border: solid #f0f0f0 2px;
}

.br-secondary-3 {
  border: solid #f0f0f0 3px;
}

.br-secondary-4 {
  border: solid #f0f0f0 4px;
}

.br-secondary-5 {
  border: solid #f0f0f0 5px;
}

.br-secondary-6 {
  border: solid #f0f0f0 6px;
}

.br-secondary-7 {
  border: solid #f0f0f0 7px;
}

.br-secondary-8 {
  border: solid #f0f0f0 8px;
}

.br-secondary-9 {
  border: solid #f0f0f0 9px;
}

.br-secondary-10 {
  border: solid #f0f0f0 10px;
}

.c-default {
  color: #ffffff;
}

.b-default {
  background-color: #ffffff;
}

.br-default-1 {
  border: solid #ffffff 1px;
}

.br-default-2 {
  border: solid #ffffff 2px;
}

.br-default-3 {
  border: solid #ffffff 3px;
}

.br-default-4 {
  border: solid #ffffff 4px;
}

.br-default-5 {
  border: solid #ffffff 5px;
}

.br-default-6 {
  border: solid #ffffff 6px;
}

.br-default-7 {
  border: solid #ffffff 7px;
}

.br-default-8 {
  border: solid #ffffff 8px;
}

.br-default-9 {
  border: solid #ffffff 9px;
}

.br-default-10 {
  border: solid #ffffff 10px;
}

.h-1 {
  height: 2px;
}

.w-1 {
  width: 2px;
}

.pa-1 {
  padding: 2px;
}

.ph-1 {
  padding-left: 2px;
  padding-right: 2px;
}

.ma-1 {
  margin: 2px;
}

.mt-1 {
  margin-top: 2px;
}

.ml-1 {
  margin-left: 2px;
}

.h-2 {
  height: 4px;
}

.w-2 {
  width: 4px;
}

.pa-2 {
  padding: 4px;
}

.ph-2 {
  padding-left: 4px;
  padding-right: 4px;
}

.ma-2 {
  margin: 4px;
}

.mt-2 {
  margin-top: 4px;
}

.ml-2 {
  margin-left: 4px;
}

.h-3 {
  height: 8px;
}

.w-3 {
  width: 8px;
}

.pa-3 {
  padding: 8px;
}

.ph-3 {
  padding-left: 8px;
  padding-right: 8px;
}

.ma-3 {
  margin: 8px;
}

.mt-3 {
  margin-top: 8px;
}

.ml-3 {
  margin-left: 8px;
}

.h-4 {
  height: 16px;
}

.w-4 {
  width: 16px;
}

.pa-4 {
  padding: 16px;
}

.ph-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.ma-4 {
  margin: 16px;
}

.mt-4 {
  margin-top: 16px;
}

.ml-4 {
  margin-left: 16px;
}

.h-5 {
  height: 32px;
}

.w-5 {
  width: 32px;
}

.pa-5 {
  padding: 32px;
}

.ph-5 {
  padding-left: 32px;
  padding-right: 32px;
}

.ma-5 {
  margin: 32px;
}

.mt-5 {
  margin-top: 32px;
}

.ml-5 {
  margin-left: 32px;
}

.h-6 {
  height: 64px;
}

.w-6 {
  width: 64px;
}

.pa-6 {
  padding: 64px;
}

.ph-6 {
  padding-left: 64px;
  padding-right: 64px;
}

.ma-6 {
  margin: 64px;
}

.mt-6 {
  margin-top: 64px;
}

.ml-6 {
  margin-left: 64px;
}

.h-7 {
  height: 128px;
}

.w-7 {
  width: 128px;
}

.pa-7 {
  padding: 128px;
}

.ph-7 {
  padding-left: 128px;
  padding-right: 128px;
}

.ma-7 {
  margin: 128px;
}

.mt-7 {
  margin-top: 128px;
}

.ml-7 {
  margin-left: 128px;
}

.h-8 {
  height: 256px;
}

.w-8 {
  width: 256px;
}

.pa-8 {
  padding: 256px;
}

.ph-8 {
  padding-left: 256px;
  padding-right: 256px;
}

.ma-8 {
  margin: 256px;
}

.mt-8 {
  margin-top: 256px;
}

.ml-8 {
  margin-left: 256px;
}

.h-9 {
  height: 512px;
}

.w-9 {
  width: 512px;
}

.pa-9 {
  padding: 512px;
}

.ph-9 {
  padding-left: 512px;
  padding-right: 512px;
}

.ma-9 {
  margin: 512px;
}

.mt-9 {
  margin-top: 512px;
}

.ml-9 {
  margin-left: 512px;
}

.h-10 {
  height: 1024px;
}

.w-10 {
  width: 1024px;
}

.pa-10 {
  padding: 1024px;
}

.ph-10 {
  padding-left: 1024px;
  padding-right: 1024px;
}

.ma-10 {
  margin: 1024px;
}

.mt-10 {
  margin-top: 1024px;
}

.ml-10 {
  margin-left: 1024px;
}

body {
  margin: 0;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/*# sourceMappingURL=test.css.map */
